<div *ngIf="movie" class="row">
    <div class="col-md-12">
      <h2 *ngIf="movie._id">Movie Details</h2>
    </div>
  </div>
  <div *ngIf="movie" class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="movie-name">Name</label>
        <input class="form-control" name="movie-name" [(ngModel)]="movie.name" placeholder="Name"/>
      </div>
      <button class="btn btn-primary" *ngIf="!movie._id" (click)="createMovie(movie)">Create</button>
      <button class="btn btn-info" *ngIf="movie._id" (click)="updateMovie(movie)">Update</button>
      <button class="btn btn-danger" *ngIf="movie._id" (click)="deleteMovie(movie._id)">Delete</button>
    </form>
  </div>
