<div class="row">
    <div class="col-md-5">
      <h2>Movies</h2>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let movie of moviess"
          (click)="selectMovies(movie)"
          [class.active]="movie === selectedMovies">
          {{movie.name}}
        </li>
      </ul>
      <button class="btn btn-warning" (click)="createNewMovie()">New</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <movie-details
        [movie]="selectedMovies"
        [createHandler]="addMovie"
        [updateHandler]="updateMovie"
        [deleteHandler]="deleteMovie">
      </movie-details>
    </div>
  </div>